:host {
    display: block;

    &:not(:last-of-type) {
        border-bottom: 1px solid var(--tui-base-03);
    }
    font: var(--tui-font-text-s);
    padding: 1rem 0;
    word-wrap: break-word;
    color: var(--tui-text-01);

    .name {
        font: var(--tui-font-text-m);
        margin-bottom: .25rem;
        font-family: monospace;
        color: #8f75d1;
    }
}
