:host {
    position: relative;
    display: block;
    clear: right;
    margin-top: 2rem;
}

.title {
    font: var(--tui-font-heading-5);
    margin: 0 0 0.5rem;

    &:first-letter {
        text-transform: capitalize;
    }

    :host-context(tui-root._mobile)  {
        font: var(--tui-font-heading-6);
    }

    button {
        margin-left: 0.75rem;
    }
}
