<div class="title-container">
    <h3 class="title">
        <ng-content></ng-content>
    </h3>
    @if (id) {
        <a
            [routerLink]="urlPath"
            routerLinkActive="link-active"
            tuiLink
            type="button"
            class="link"
            title="Copy"
            [fragment]="id"
            [routerLinkActiveOptions]="{matrixParams: 'exact', queryParams: 'exact', paths: 'exact', fragment: 'exact'}"
            (click)="copyExampleLink()"
        >
            #
        </a>
    }
</div>