app-header {
    margin-top: 0;
}

.strong {
    font-weight: bold;
}

:host::ng-deep .touranchor--is-active {
    outline: 2px solid var(--tui-text-negative) !important;
}

:host::ng-deep {
    app-step-config table tr td.t-cell.t-no-overflow {
        overflow: unset !important;
    }
}
