<tui-doc-page
    header="Console"
    package="ngx-ui-tour-console"
>
    <ng-template pageTab>
        <p>
            <code>ngx-ui-tour</code> is a UI tour library built for Angular. It's inspired by
            <a tuiLink target="_blank" tourAnchor="angular-ui-tour" href="https://benmarch.github.io/angular-ui-tour">angular-ui-tour</a>.
        </p>
        <p>
            <code>TourConsole</code> is a minimal implementation of the tour UI that uses only the browser's
            JavaScript console to display tour steps.
        </p>
        <p class="strong">Use left/right arrow keys to navigate through the tour and escape key to end the tour.</p>
        <p>
            <button
                tuiButton
                type="button"
                (click)="tourService.start()"
                tourAnchor="start.tour"
            >
                Start Demo Tour
            </button>
        </p>
    </ng-template>
    <ng-template pageTab>
        <app-header tourAnchor="installation" id="installation">Installation</app-header>

        <ol>
            <li>
                <code>npm install ngx-ui-tour-console</code>
            </li>
            <li>
                Import <code>TourConsoleModule</code> into your app module
                <div
                    tuiNotification
                    class="tui-space_top-3"
                    size="m"
                >
                    If you are using <code>v9</code> or older, you have to import <code>TourConsoleModule.forRoot()</code>
                </div>
            </li>
            <li>
                Make sure <code>RouterModule</code> is imported in your app module
            </li>
        </ol>
        <app-usage
            moduleName="TourConsole"
        />
    </ng-template>
    <ng-template pageTab>
        <app-step-config>
            <app-placement-config
                value="above"
                [values]="['above', 'below', 'after', 'before']"
            />
        </app-step-config>
        <app-tour-service-api/>
        <app-events/>
    </ng-template>
    <ng-template pageTab>
        <app-faq/>
    </ng-template>
    <ng-template pageTab>
        <app-hotkeys/>
        <app-defaults/>
        <app-styling-active-tour-anchor/>
    </ng-template>
</tui-doc-page>

<tour-hotkey-listener/>
