<div tourAnchor="events">
    <app-header id="events">Event Observables</app-header>

    <p>
        The <code>TourService</code> emits events that can be subscribed to like this:
    </p>

    <tui-doc-code
        filename="app.component.ts"
        [code]="examples.onInitialize"
    />
</div>

<table
    tuiDocAPI
>
    @for (event of events; track event.name) {
        <tr
            tuiDocAPIItem
            [name]="event.name"
            [type]="event.payload"
        >
            {{ event.description }}
        </tr>
    }
</table>
