
<app-header id="step-config">Step Configuration</app-header>

<p>Each step can have the following properties.</p>

<table
    tuiDocAPI
>
    <tr
        tuiDocAPIItem
        name="stepId"
        type="string"
    >
        A unique identifier for the step (optional)
    </tr>
    <tr
        tuiDocAPIItem
        name="anchorId"
        type="string"
        value="some.anchor.id"
    >
        <div tourAnchor="config.anchorId">The anchor to which the step will be attached</div>
    </tr>
    <tr
        tuiDocAPIItem
        name="title"
        type="string"
        value="My Title"
    >
        The title of the tour step
    </tr>
    <tr
        tuiDocAPIItem
        name="content"
        type="string"
        value="<b>Lorem</b> ipsum dolores"
    >
        The content text of the tour step
    </tr>
    <tr
        tuiDocAPIItem
        name="enableBackdrop"
        type="boolean"
        [value]="false"
    >
        <div tourAnchor="config.enableBackdrop">Enable active element highlighting</div>
    </tr>
    <tr
        tuiDocAPIItem
        name="backdropConfig"
        type="BackdropConfig"
    >
        Backdrop configuration
    </tr>
    <tr
        tuiDocAPIItem
        name="stepDimensions"
        type="StepDimensions"
    >
        Step width, min-width and max-width configuration. Accepts CSS property "width" values, ie "250px" or "auto".
    </tr>
    <tr
        tuiDocAPIItem
        name="route"
        type="string | UrlSegment[]"
    >
        <div tourAnchor="config.route">The route to navigate to before showing the tour step (optional)</div>
    </tr>
    <tr
        tuiDocAPIItem
        name="popoverClass"
        type="string"
    >
        <div tourAnchor="config.popoverClass">Custom popover CSS class (optional)</div>
    </tr>
    @if (isCloseOnOutsideClickVisible()) {
        <tr
            tuiDocAPIItem
            name="closeOnOutsideClick"
            type="boolean"
            [value]="false"
        >
            Enable to close the tour on outside click
        </tr>
    }
    <tr
        tuiDocAPIItem
        name="disablePageScrolling"
        type="boolean"
        [value]="true"
    >
        Disables scrolling when the UI tour is active. <code>scrollContainer</code> option can be used to specify
        affected scroll container. If <code>scrollContainer</code> is not set, disables scrolling on document element.
    </tr>
    <tr
        tuiDocAPIItem
        name="nextStep"
        type="number | string"
    >
        The step index or stepId of the next step (optional)
    </tr>
    <tr
        tuiDocAPIItem
        name="prevStep"
        type="number | string"
    >
        The step index or stepId of the previous step (optional)
    </tr>
    @if (placementConfig) {
        <tr
            tuiDocAPIItem
            name="placement"
            [type]="placementConfig.type()"
            [value]="placementConfig.value()"
            [items]="placementConfig.values()"
        >
            <div tourAnchor="config.placement">
                Tour step position with respect to the anchor (optional).
                <span [innerHTML]="placementConfig.extraInfo()"></span>
            </div>
        </tr>
    }
    @if (isIonicShowArrowVisible()) {
        <tr
            tuiDocAPIItem
            name="showArrow"
            type="boolean"
            [value]="true"
        >
            If enabled, shows an arrow that points to the anchor element when running in <code>ios</code> mode. Does not
            apply in <code>md</code> mode.
        </tr>
    }
    @if (isIonicTrapFocusVisible()) {
        <tr
            tuiDocAPIItem
            name="trapFocus"
            type="boolean"
            [value]="false"
        >
            If enabled, focus will not be allowed to move outside of the tour step popover. Disabled by default to
            allow focus to move outside of the popover overlay.
        </tr>
    }
    @if (isMdMenuShowArrowVisible()) {
        <tr
            tuiDocAPIItem
            name="showArrow"
            type="boolean"
            [value]="true"
        >
            If enabled, shows an arrow that points to the anchor element. In some cases, for example, when a small
            anchor element is positioned at the edge of the screen, tour step arrow might not align correctly with the
            tour anchor. In that case <code>placement</code> config can be used to adjust tour step position and fix
            the alignment or the arrow can be hidden using <code>showArrow</code> config.
        </tr>
    }
    <tr
        tuiDocAPIItem
        name="showProgress"
        type="boolean"
        [value]="true"
    >
        If enabled, shows current step number and total steps.
    </tr>
    <tr
        tuiDocAPIItem
        name="disableScrollToAnchor"
        type="boolean"
        [value]="false"
    >
        If active, stops automatic page scroll to tour anchor element
    </tr>
    <tr
        tuiDocAPIItem
        name="centerAnchorOnScroll"
        type="boolean"
        [value]="true"
    >
        <div tourAnchor="config.centerAnchorOnScroll">
            Enable to center active anchor element. "Safari" browser does not support this option.
        </div>
    </tr>
    <tr
        tuiDocAPIItem
        name="smoothScroll"
        type="boolean"
        [value]="true"
    >
        <div tourAnchor="config.smoothScroll">
            Use smooth scroll when animations are enabled on OS level. Controlled by "Animate controls and elements
            inside windows" setting on Windows OS.
        </div>
    </tr>
    <tr
        tuiDocAPIItem
        name="scrollContainer"
        type="string | HTMLElement"
    >
        CSS selector or html element reference. Used to determine scroll container for "smooth scroll" and
        "disable page scrolling" functions. Defaults to document element if not set.
    </tr>
    <tr
        tuiDocAPIItem
        name="prevBtnTitle"
        type="string"
        [value]="'Prev'"
    >
        <div tourAnchor="config.buttons.custom">"Previous" button title</div>
    </tr>
    <tr
        tuiDocAPIItem
        name="nextBtnTitle"
        type="string"
        [value]="'Next'"
    >
        "Next" button title
    </tr>
    <tr
        tuiDocAPIItem
        name="endBtnTitle"
        type="string"
        [value]="'End'"
    >
        "End" button title
    </tr>
    <tr
        tuiDocAPIItem
        name="isAsync"
        type="boolean"
        [value]="false"
    >
        <div tourAnchor="config.isAsync">Mark your step as "async" if anchor element is added to DOM with a delay.</div>
    </tr>
    <tr
        tuiDocAPIItem
        name="asyncStepTimeout"
        type="number"
    >
        Time to wait for async step in ms. Once the time runs out, if the step is also marked as "optional",
        the step will be skipped, otherwise will end the tour with a warning.
    </tr>
    <tr
        tuiDocAPIItem
        name="isOptional"
        type="boolean"
        [value]="false"
    >
        Mark your step as "optional" if it should be skipped when anchor element is not found. Step can only be marked
        as both "optional" and "async" if "asyncStepTimeout" setting is set.
    </tr>
    <tr
        tuiDocAPIItem
        name="delayAfterNavigation"
        type="number"
        [value]="100"
    >
        Delay between navigation to a different route and showing the tour step in ms. Should be set if the tour tries
        to show tour step before anchor element is registered or the page is scrolled all the way.
    </tr>
    <tr
        tuiDocAPIItem
        name="delayBeforeStepShow"
        type="number"
        [value]="0"
    >
        Delay before showing tour step in ms.
    </tr>
    <tr
        tuiDocAPIItem
        name="nextOnAnchorClick"
        type="boolean"
        [value]="false"
    >
        <div tourAnchor="config.nextOnAnchorClick" style="cursor: pointer;">
            Go to next step on anchor element click instead of "Next" button.
        </div>
    </tr>
    <tr
        tuiDocAPIItem
        name="duplicateAnchorHandling"
        type="string"
        [items]="duplicateAnchorHandlingValues"
        [value]="'error'"
    >
        If your tour anchor is duplicated on purpose, you can choose to either register first or last anchor occurrence
        instead of throwing an error.
    </tr>
    <tr
        tuiDocAPIItem
        name="allowUserInitiatedNavigation"
        type="boolean"
        [value]="false"
    >
        Enable to keep the tour open while the user navigates to a different page.
        Can cause the tour to get "stuck" if active anchor element is removed from the DOM after the navigation.
        The option is not related to navigation initiated by the UI tour and should not be enabled in most cases.
    </tr>
    @if (isUseLegacyTitleVisible()) {
        <tr
            tuiDocAPIItem
            name="useLegacyTitle"
            type="boolean"
            [value]="false"
        >
            Enable to use popover title for showing step title like in previous versions of the library. Title style
            can not be customized using step template when the option is enabled.
        </tr>
    }
</table>
