app-header {
    margin-top: 0;
}

/* Workaround for the UI tour to highlight whole table cell instead of just the description text */
div[tourAnchor] {
    padding: 2.75rem 1rem 1rem;
    margin: -2.75rem -1rem -1rem;
}
