app-header {
    margin-top: 0;
}

/* Workaround for the UI tour to highlight whole table cell instead of just the description text */
div[tourAnchor] {
    padding: 3.5rem 1rem 1.5rem;
    margin: -3.5rem -1rem -1.5rem;
}
