<app-header id="simple-project" tourAnchor="usage">Usage</app-header>

<ol>
    <li>
        Import <code>{{ componentName() }}</code> in your standalone component
        <tui-doc-code
            filename="app.component.ts"
            [code]="importComponentTs()"
        />
    </li>
    <li>
        Add <code>{{ tourStepTag }}</code> to your root app component's template (once in the whole app)
        <tui-doc-code
            filename="app.component.html"
            [code]="examples.appComponentHtml"
        />
    </li>
    <li>
        Define anchor points for the tour steps by adding the <code>tourAnchor</code> directive throughout your app.
        <div
            tuiNotification
            class="tui-space_top-3"
            appearance="warning"
            size="m"
        >
            You have to import <code>{{ componentName() }}</code> in all your standalone components where you use
            <code>tourAnchor</code> directive.
        </div>
        <tui-doc-code
            [code]="anchorPoints"
            filename="app.component.html"
        />
    </li>
    <li>
        Define your tour steps using <code>tourService.initialize(steps)</code>
        <tui-doc-code
            filename="app.component.ts"
            [code]="examples.tourServiceExample"
        />
    </li>
    <li>Start the tour with <code tourAnchor="tourService.start">tourService.start()</code>
    </li>
    <li>Check out the
        <a
            tuiLink
            target="_blank"
            href="https://stackblitz.com/edit/stackblitz-starters-as9dawdk?file=src%2Fapp%2Fapp.component.ts"
        >
            demo source code
        </a> for an example.
    </li>
</ol>
