.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

mat-sidenav-content {
    display: flex;
    flex-direction: column;

    .content-wrapper {
        flex: 1 1 0;
        min-height: 0;
        overflow: auto;
    }
}
