<tui-doc-main>
    <ng-container ngProjectAs="tuiDocHeader">
        <a
            tuiLink
            tuiMode="onLight"
            class="link"
            href="https://github.com/hakimio/ngx-ui-tour"
            target="_blank"
        >
            <img class="github" src="assets/github.svg" alt=""/>
            GitHub
        </a>
    </ng-container>
    @if (isAndroid) {
        <tui-theme-android></tui-theme-android>
    }
    @if (isIos) {
        <tui-theme-ios></tui-theme-ios>
    }
</tui-doc-main>
