:host {
    display: flex;
    align-items: center;
    font-family: 'Share Tech Mono', monospace;
    font-weight: normal;
    color: var(--tui-text-primary);

    :host-context(tui-root._mobile) {
        font-size: 0;
    }
}

.logo {
    width: 1.875rem;
    margin-right: 0.625rem;
}
