<tui-doc-page
    header="Taiga UI Hint"
    package="ngx-ui-tour-tui-hint"
>
    <ng-template pageTab>
        <p>
            <code>ngx-ui-tour</code> is a UI tour library built for Angular. It's inspired by
            <a tuiLink target="_blank" tourAnchor="angular-ui-tour" href="https://benmarch.github.io/angular-ui-tour">angular-ui-tour</a>.
        </p>
        <p>
            <code>TourTuiHintModule</code> is an implementation of the tour UI that uses
            <a tuiLink href="https://taiga-ui.dev" target="_blank">Taiga UI</a> Hint to display tour steps.
        </p>
        <p>
            <button
                tuiButton
                type="button"
                (click)="start()"
                tourAnchor="start.tour"
            >
                Start Demo Tour
            </button>
        </p>
    </ng-template>
    <ng-template pageTab>
        <app-header tourAnchor="installation" id="installation">Installation</app-header>

        <ol>
            <li>
                <code>npm install ngx-ui-tour-tui-hint &#64;taiga-ui/core &#64;taiga-ui/cdk &#64;taiga-ui/icons</code>
            </li>
            <li>
                Import <code>TourTuiHintModule</code> into your app module
                <tui-notification
                    class="tui-space_top-3"
                    size="m"
                >
                    If you are using <code>v3</code> or older, you have to import <code>TourTuiHintModule.forRoot()</code>
                </tui-notification>
            </li>
            <li>
                Make sure <code>RouterModule</code> is imported in your app module
            </li>
            <li>
                Make sure Taiga UI is
                <a tuiLink href="https://taiga-ui.dev/getting-started" target="_blank">installed correctly</a>
            </li>
        </ol>
        <app-usage
            moduleName="TourTuiHintModule"
        ></app-usage>
    </ng-template>

    <ng-template pageTab>
        <app-step-config>
            <app-placement-config
                value="bottom-right"
                extraInfo="Accepts <a href='https://taiga-ui.dev/directives/hint-manual/API'>HintManual</a> direction options."
                [values]="hintPlacements"
            ></app-placement-config>
        </app-step-config>
        <app-tour-service-api></app-tour-service-api>
        <app-events></app-events>
    </ng-template>

    <ng-template pageTab>
        <app-faq
            disablePageScrollingIntroducedIn="4.1"
        ></app-faq>
    </ng-template>

    <ng-template pageTab>
        <app-hotkeys></app-hotkeys>
        <app-defaults></app-defaults>
        <app-custom-template
            [defaultTemplate]="defaultTemplate"
        ></app-custom-template>
        <app-styling-active-tour-anchor></app-styling-active-tour-anchor>
        <app-targeting-third-party-elements/>
    </ng-template>
</tui-doc-page>

<tour-step-template></tour-step-template>
