
<app-header id="step-config">Step Configuration</app-header>

<p>Each step can have the following properties.</p>

<tui-doc-documentation>
    <ng-template
        documentationPropertyName="stepId"
        documentationPropertyType="string"
    >
        A unique identifier for the step (optional)
    </ng-template>
    <ng-template
        documentationPropertyName="anchorId"
        documentationPropertyType="string"
        [documentationPropertyValue]="'some.anchor.id'"
    >
        <div tourAnchor="config.anchorId">The anchor to which the step will be attached</div>
    </ng-template>
    <ng-template
        documentationPropertyName="title"
        documentationPropertyType="string"
        [documentationPropertyValue]="'My Title'"
    >
        The title of the tour step
    </ng-template>
    <ng-template
        documentationPropertyName="content"
        documentationPropertyType="string"
        [documentationPropertyValue]="'<b>Lorem</b> ipsum dolores'"
    >
        The content text of the tour step
    </ng-template>
    <ng-template
        documentationPropertyName="enableBackdrop"
        documentationPropertyType="boolean"
        [documentationPropertyValue]="false"
    >
        <div tourAnchor="config.enableBackdrop">Enable active element highlighting</div>
    </ng-template>
    <ng-template
        documentationPropertyName="backdropConfig"
        documentationPropertyType="BackdropConfig"
    >
        Backdrop configuration
    </ng-template>
    <ng-template
        documentationPropertyName="stepDimensions"
        documentationPropertyType="StepDimensions"
    >
        Step width, min-width and max-width configuration. Accepts CSS property "width" values, ie "250px" or "auto".
    </ng-template>
    <ng-template
        documentationPropertyName="route"
        documentationPropertyType="string | UrlSegment[]"
    >
        <div tourAnchor="config.route">The route to navigate to before showing the tour step (optional)</div>
    </ng-template>
    <ng-template
        documentationPropertyName="popoverClass"
        documentationPropertyType="string"
    >
        <div tourAnchor="config.popoverClass">Custom popover CSS class (optional)</div>
    </ng-template>
    <ng-template
        *ngIf="isCloseOnOutsideClickVisible"
        documentationPropertyName="closeOnOutsideClick"
        documentationPropertyType="boolean"
        [documentationPropertyValue]="false"
    >
        Enable to close the tour on outside click
    </ng-template>
    <ng-template
        documentationPropertyName="disablePageScrolling"
        documentationPropertyType="boolean"
        [documentationPropertyValue]="true"
    >
        Disables scrolling when the UI tour is active. <code>scrollContainer</code> option can be used to specify
        affected scroll container. If <code>scrollContainer</code> is not set, disables scrolling on document element.
    </ng-template>
    <ng-template
        documentationPropertyName="nextStep"
        documentationPropertyType="number | string"
    >
        The step index or stepId of the next step (optional)
    </ng-template>
    <ng-template
        documentationPropertyName="prevStep"
        documentationPropertyType="number | string"
    >
        The step index or stepId of the previous step (optional)
    </ng-template>
    <ng-template
        *ngIf="placementConfig"
        documentationPropertyName="placement"
        [documentationPropertyType]="placementConfig.type"
        [documentationPropertyValue]="placementConfig.value"
        [documentationPropertyValues]="placementConfig.values"
    >
        <div tourAnchor="config.placement">
            Tour step position with respect to the anchor (optional).
            <span [innerHTML]="placementConfig.extraInfo"></span>
        </div>
    </ng-template>
    <ng-template
        *ngIf="isShowArrowVisible"
        documentationPropertyName="showArrow"
        documentationPropertyType="boolean"
        [documentationPropertyValue]="true"
    >
        If enabled, shows an arrow that points to the anchor element when running in <code>ios</code> mode. Does not
        apply in <code>md</code> mode.
    </ng-template>
    <ng-template
        documentationPropertyName="disableScrollToAnchor"
        documentationPropertyType="boolean"
        [documentationPropertyValue]="false"
    >
        If active, stops automatic page scroll to tour anchor element
    </ng-template>
    <ng-template
        documentationPropertyName="centerAnchorOnScroll"
        documentationPropertyType="boolean"
        [documentationPropertyValue]="true"
    >
        <div tourAnchor="config.centerAnchorOnScroll">
            Enable to center active anchor element. "Safari" browser does not support this option.
        </div>
    </ng-template>
    <ng-template
        documentationPropertyName="smoothScroll"
        documentationPropertyType="boolean"
        [documentationPropertyValue]="true"
    >
        <div tourAnchor="config.smoothScroll">
            Use smooth scroll when animations are enabled on OS level. Controlled by "Animate controls and elements
            inside windows" setting on Windows OS.
        </div>
    </ng-template>
    <ng-template
        documentationPropertyName="scrollContainer"
        documentationPropertyType="string | HTMLElement"
    >
        CSS selector or html element reference. Used to determine scroll container for "smooth scroll" and
        "disable page scrolling" functions. Defaults to document element if not set.
    </ng-template>
    <ng-template
        documentationPropertyName="prevBtnTitle"
        documentationPropertyType="string"
        [documentationPropertyValue]="'Prev'"
    >
        <div tourAnchor="config.buttons.custom">"Previous" button title</div>
    </ng-template>
    <ng-template
        documentationPropertyName="nextBtnTitle"
        documentationPropertyType="string"
        [documentationPropertyValue]="'Next'"
    >
        "Next" button title
    </ng-template>
    <ng-template
        documentationPropertyName="endBtnTitle"
        documentationPropertyType="string"
        [documentationPropertyValue]="'End'"
    >
        "End" button title
    </ng-template>
    <ng-template
        documentationPropertyName="isAsync"
        documentationPropertyType="boolean"
        [documentationPropertyValue]="false"
    >
        <div tourAnchor="config.isAsync">Mark your step as "async" if anchor element is added to DOM with a delay.</div>
    </ng-template>
    <ng-template
        documentationPropertyName="isOptional"
        documentationPropertyType="boolean"
        [documentationPropertyValue]="false"
    >
        Mark your step as "optional" if it should be skipped when anchor element is not found. Step can not be marked
        both "optional" and "async".
    </ng-template>
    <ng-template
        documentationPropertyName="delayAfterNavigation"
        documentationPropertyType="number"
        [documentationPropertyValue]="100"
    >
        Delay between navigation to a different route and showing the tour step in ms. Should be set if the tour tries
        to show tour step before anchor element is registered or the page is scrolled all the way.
    </ng-template>
    <ng-template
        documentationPropertyName="delayBeforeStepShow"
        documentationPropertyType="number"
        [documentationPropertyValue]="0"
    >
        Delay before showing tour step in ms.
    </ng-template>
    <ng-template
        documentationPropertyName="nextOnAnchorClick"
        documentationPropertyType="boolean"
        [documentationPropertyValue]="false"
    >
        <div tourAnchor="config.nextOnAnchorClick" style="cursor: pointer;">
            Go to next step on anchor element click instead of "Next" button.
        </div>
    </ng-template>
    <ng-template
        documentationPropertyName="duplicateAnchorHandling"
        documentationPropertyType="string"
        [documentationPropertyValues]="duplicateAnchorHandlingValues"
        [documentationPropertyValue]="'error'"
    >
        If your tour anchor is duplicated on purpose, you can choose to either register first or last anchor occurance
        instead of throwing an error.
    </ng-template>
    <ng-template
      documentationPropertyName="allowUserInitiatedNavigation"
      documentationPropertyType="boolean"
      [documentationPropertyValue]="false"
    >
        Enable to keep the tour open while the user navigates to a different page.
        Can cause the tour to get "stuck" if active anchor element is removed from the DOM after the navigation.
        The option is not related to navigation initiated by the UI tour and should not be enabled in most cases.
    </ng-template>
    <ng-template
        *ngIf="isUseLegacyTitleVisible"
        documentationPropertyName="useLegacyTitle"
        documentationPropertyType="boolean"
        [documentationPropertyValue]="false"
    >
        Enable to use popover title for showing step title like in previous versions of the library. Title style
        can not be customized using step template when the option is enabled.
    </ng-template>
</tui-doc-documentation>
