
<app-header id="step-config">Step Configuration</app-header>

<p>Each step can have the following properties.</p>

<tui-doc-documentation>
    <ng-template
        documentationPropertyName="stepId"
        documentationPropertyType="string"
    >
        A unique identifier for the step (optional)
    </ng-template>
    <ng-template
        documentationPropertyName="anchorId"
        documentationPropertyType="string"
        [documentationPropertyValue]="'some.anchor.id'"
    >
        <div tourAnchor="config.anchorId">The anchor to which the step will be attached</div>
    </ng-template>
    <ng-template
        documentationPropertyName="title"
        documentationPropertyType="string"
        [documentationPropertyValue]="'My Title'"
    >
        The title of the tour step
    </ng-template>
    <ng-template
        documentationPropertyName="content"
        documentationPropertyType="string"
        [documentationPropertyValue]="'<b>Lorem</b> ipsum dolores'"
    >
        The content text of the tour step
    </ng-template>
    <ng-template
        documentationPropertyName="enableBackdrop"
        documentationPropertyType="boolean"
        [documentationPropertyValue]="false"
    >
        <div tourAnchor="config.enableBackdrop">Enable active element highlighting</div>
    </ng-template>
    <ng-template
        documentationPropertyName="backdropConfig"
        documentationPropertyType="BackdropConfig"
    >
        Backdrop configuration
    </ng-template>
    <ng-template
        documentationPropertyName="route"
        documentationPropertyType="string | UrlSegment[]"
    >
        <div tourAnchor="config.route">The route to navigate to before showing the tour step (optional)</div>
    </ng-template>
    <ng-template
        *ngIf="isContainerClassVisible"
        documentationPropertyName="containerClass"
        documentationPropertyType="string"
    >
        <div tourAnchor="config.containerClass">Custom CSS class for popover container (optional)</div>
    </ng-template>
    <ng-template
        *ngIf="isCloseOnOutsideClickVisible"
        documentationPropertyName="closeOnOutsideClick"
        documentationPropertyType="boolean"
        [documentationPropertyValue]="false"
    >
        Enable to close the tour on outside click
    </ng-template>
    <ng-template
        *ngIf="isDisablePageScrollingVisible"
        documentationPropertyName="disablePageScrolling"
        documentationPropertyType="boolean"
        [documentationPropertyValue]="false"
    >
        Prevents user from being able to scroll the page when the UI tour is active
    </ng-template>
    <ng-template
        documentationPropertyName="nextStep"
        documentationPropertyType="number | string"
    >
        The step index or stepId of the next step (optional)
    </ng-template>
    <ng-template
        documentationPropertyName="prevStep"
        documentationPropertyType="number | string"
    >
        The step index or stepId of the previous step (optional)
    </ng-template>
    <ng-template
        *ngIf="placementConfig"
        documentationPropertyName="placement"
        [documentationPropertyType]="placementConfig.type"
        [documentationPropertyValue]="placementConfig.value"
        [documentationPropertyValues]="placementConfig.values"
    >
        <div tourAnchor="config.placement">
            Tour step position with respect to the anchor (optional).
            <span [innerHTML]="placementConfig.extraInfo"></span>
        </div>
    </ng-template>
    <ng-template
        documentationPropertyName="disableScrollToAnchor"
        documentationPropertyType="boolean"
        [documentationPropertyValue]="false"
    >
        If active, stops automatic page scroll to tour anchor element
    </ng-template>
    <ng-template
        documentationPropertyName="centerAnchorOnScroll"
        documentationPropertyType="boolean"
        [documentationPropertyValue]="false"
    >
        Enable to center anchor element after it's scrolled into view.
    </ng-template>
    <ng-template
        documentationPropertyName="prevBtnTitle"
        documentationPropertyType="string"
        [documentationPropertyValue]="'Prev'"
    >
        <div tourAnchor="config.buttons.custom">"Previous" button title</div>
    </ng-template>
    <ng-template
        documentationPropertyName="nextBtnTitle"
        documentationPropertyType="string"
        [documentationPropertyValue]="'Next'"
    >
        "Next" button title
    </ng-template>
    <ng-template
        documentationPropertyName="endBtnTitle"
        documentationPropertyType="string"
        [documentationPropertyValue]="'End'"
    >
        "End" button title
    </ng-template>
    <ng-template
        documentationPropertyName="isAsync"
        documentationPropertyType="boolean"
        [documentationPropertyValue]="false"
    >
        <div tourAnchor="config.isAsync">Mark your step as "async" if anchor element is added to DOM with a delay.</div>
    </ng-template>
    <ng-template
        documentationPropertyName="isOptional"
        documentationPropertyType="boolean"
        [documentationPropertyValue]="false"
    >
        Mark your step as "optional" if it should be skipped when anchor element is not found. Step can not be marked
        both "optional" and "async".
    </ng-template>
    <ng-template
        documentationPropertyName="delayAfterNavigation"
        documentationPropertyType="number"
        [documentationPropertyValue]="0"
    >
        Delay between navigation to a different route and showing the tour step in ms. Might be needed if you use
        custom scrollbar and the page is not scrolled all the way before the tour step is shown.
    </ng-template>
    <ng-template
        documentationPropertyName="delayBeforeStepShow"
        documentationPropertyType="number"
        [documentationPropertyValue]="0"
    >
        Delay before showing tour step in ms.
    </ng-template>
    <ng-template
        documentationPropertyName="nextOnAnchorClick"
        documentationPropertyType="boolean"
        [documentationPropertyValue]="false"
    >
        <div tourAnchor="config.nextOnAnchorClick" style="cursor: pointer;">
            Go to next step on anchor element click instead of "Next" button.
        </div>
    </ng-template>
    <ng-template
        documentationPropertyName="duplicateAnchorHandling"
        documentationPropertyType="string"
        [documentationPropertyValues]="duplicateAnchorHandlingValues"
        [documentationPropertyValue]="'error'"
    >
        If your tour anchor is duplicated on purpose, you can choose to either register first or last anchor occurance
        instead of throwing an error.
    </ng-template>
</tui-doc-documentation>
