<app-header tourAnchor="installation" id="installation">Installation</app-header>

<div
    tuiNotification
    class="tui-space_top-3"
    appearance="info"
    size="m"
>
    This guide is for v{{version}}. Older version of the documentation is available <a tuiLink href="/ngx-ui-tour/v15">here</a>.
</div>

<ol>
    <li>
        <code>npm install {{ packageName() }}</code>
    </li>
    <li>
        <app-tabs>
            <app-tab
                icon="@tui.puzzle"
                title="Standalone"
            >
                Add <code>provideUiTour()</code> to the list of providers in your <code>app.config.ts</code>.
                <tui-doc-code
                    filename="app.config.ts"
                    [code]="appConfigTs()"
                />
            </app-tab>
            <app-tab
                icon="@tui.package"
                title="NgModule"
            >
                Add <code>provideUiTour()</code> to the list of providers in your <code>app.module.ts</code>.
                <tui-doc-code
                    filename="app.module.ts"
                    [code]="appModuleTs()"
                />
            </app-tab>
        </app-tabs>
    </li>
    <li>
        Make sure Angular <code>Router</code> is enabled using
        <a tuiLink href="https://angular.dev/api/router/provideRouter" target="_blank">
            <code>provideRouter(appRoutes)</code>
        </a> or
        <a tuiLink href="https://angular.dev/api/router/RouterModule" target="_blank">
            <code>RouterModule.forRoot(appRoutes)</code>
        </a>.
    </li>
</ol>
