<tui-doc-page
    header="Taiga UI Hint"
    package="ngx-ui-tour-tui-hint"
>
    <ng-template pageTab>
        <p>
            <code>ngx-ui-tour</code> is a UI tour library built for Angular. It's inspired by
            <a tuiLink target="_blank" tourAnchor="angular-ui-tour" href="https://benmarch.github.io/angular-ui-tour">angular-ui-tour</a>.
        </p>
        <p>
            <code>TourTuiHint</code> is an implementation of the tour UI that uses
            <a tuiLink href="https://taiga-ui.dev" target="_blank">Taiga UI</a> Hint to display tour steps.
        </p>
        <p>
            <button
                tuiButton
                type="button"
                (click)="start()"
                tourAnchor="start.tour"
            >
                Start Demo Tour
            </button>
        </p>
    </ng-template>
    <ng-template pageTab>
        <app-installation
            packageName="ngx-ui-tour-tui-hint"
        />
        <app-usage
            componentName="TourTuiHint"
        />
    </ng-template>

    <ng-template pageTab>
        <app-step-config>
            <app-placement-config
                value="bottom-end"
                extraInfo="Accepts <a href='https://taiga-ui.dev/directives/hint-manual/API'>HintManual</a> direction options."
                [values]="hintPlacements"
            />
        </app-step-config>
        <app-tour-service-api/>
        <app-events/>
    </ng-template>

    <ng-template pageTab>
        <app-faq
            disablePageScrollingIntroducedIn="4.1"
        />
    </ng-template>

    <ng-template pageTab>
        <app-hotkeys/>
        <app-defaults/>
        <app-custom-template
            [defaultTemplate]="defaultTemplate"
        />
        <app-styling-active-tour-anchor/>
        <app-targeting-third-party-elements/>
    </ng-template>
</tui-doc-page>

<tour-step-template/>
