.github-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.github-link {
    display: flex;
    align-items: center;
    gap: 0.35rem;
}

.header-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}
