/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '@ionic/angular/css/core.css';
@import './bootstrap';

.p-popover {
    font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    line-height: normal;
}
@import 'primeicons/primeicons.css';

/* Workaround for white gap at the bottom when tour is started and dark theme is used */
@media (prefers-color-scheme: dark) {
    html {
        /* Can't just use "var(--tui-background-base)" since "tuiTheme" attribute is applied to "tui-root" instead of "html" */
        background: #222 !important;
    }
}

body {
    overflow-x: hidden;

    /* Ionic scroll issue work-around */
    &.backdrop-no-scroll {
        overflow-y: auto;
    }

    tui-doc-page > .t-content {
        padding-bottom: 4rem !important;
    }

    tui-root._mobile tui-doc-page > .t-content {
        padding-bottom: 2rem !important;
    }
}

tui-root {
    font: var(--tui-font-text-m) !important;
}

ol {
    list-style-type: decimal;
    padding-left: 0.9375rem;
    margin: 1rem 0;

    > li {
        margin-bottom: 1.25rem;
    }
}

a {
    appearance: none;
    padding: 0;
    border: 0;
    background: 0 0;
    font-size: inherit;
    line-height: inherit;
    transition-property: color;
    transition-duration: var(--tui-duration, 300ms);
    transition-timing-function: ease-in-out;
    color: var(--tui-text-action);
    text-decoration: none;
    text-align: left;
    text-transform: inherit;
    font-weight: inherit;
    cursor: pointer;
    outline: 0;
}

.tui-space_top-3 {
    margin-top: 0.75rem;
}

.mat-mdc-menu-panel.tour-step {
    color: #1b1f3b;
}
