<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            @for (page of pages; track page.name) {
                <a
                    mat-list-item
                    [routerLink]="page.path"
                    routerLinkActive="sidenav-item-selected"
                    [routerLinkActiveOptions]="{exact: true}"
                >
                    {{ page.name }}
                </a>
            }
        </mat-nav-list>
    </mat-sidenav>
    <div class="main-content">
        <router-outlet/>
    </div>
</mat-sidenav-container>

<tour-step-template/>
