/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

@media (pointer: fine) {
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #fafafa;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(202, 202, 202, 0.75);
        border-radius: 10px;
        border: 2px solid transparent;
        background-clip: content-box;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #cacaca;
        border: 0;
    }

    /* Firefox only */
    @supports (-moz-appearance:none) {
        * {
            scrollbar-width: thin;
            scrollbar-color: #cacaca #fafafa;
        }
    }
}
