<tui-doc-page
    header="Ionic"
    package="ngx-ui-tour-ionic"
>
    <ng-template pageTab>
        <p>
            <code>ngx-ui-tour</code> is a UI tour library built for Angular. It's inspired by
            <a tuiLink target="_blank" tourAnchor="angular-ui-tour" href="https://benmarch.github.io/angular-ui-tour">angular-ui-tour</a>.
        </p>
        <p>
            <code>TourIonPopover</code> is an implementation of the tour UI that uses
            <a tuiLink href="https://ionicframework.com/" target="_blank">Ionic</a> Popover to display tour steps.
        </p>
        <p>
            <button
                tuiButton
                type="button"
                (click)="tourService.start()"
                tourAnchor="start.tour"
            >
                Start Demo Tour
            </button>
        </p>
    </ng-template>
    <ng-template pageTab>
        <app-header tourAnchor="installation" id="installation">Installation</app-header>

        <ol>
            <li>
                <code>npm install ngx-ui-tour-ionic &#64;ionic/angular</code>
            </li>
            <li>
                Import <code>TourIonPopoverModule</code> into your app module
            </li>
            <li>
                Make sure <code>RouterModule</code> is imported in your app module
            </li>
            <li>
                Make sure Ionic is
                <a tuiLink href="https://ionicframework.com/docs/intro/cli" target="_blank">installed correctly</a>
            </li>
        </ol>
        <app-usage
            moduleName="TourIonPopover"
        ></app-usage>
    </ng-template>
    <ng-template pageTab>
        <app-step-config
            [isIonicShowArrowVisible]="true"
            [isIonicTrapFocusVisible]="true"
        >
            <app-placement-config
                type="IonPopoverPlacement"
            ></app-placement-config>
        </app-step-config>
        <app-tour-service-api></app-tour-service-api>
        <app-events></app-events>
    </ng-template>
    <ng-template pageTab>
        <app-faq
            disablePageScrollingIntroducedIn="1.1"
        ></app-faq>
    </ng-template>
    <ng-template pageTab>
        <app-hotkeys></app-hotkeys>
        <app-defaults></app-defaults>
        <app-custom-template
            [defaultTemplate]="defaultTemplate"
        >
            <div
                tuiNotification
                appearance="warning"
                size="m"
            >
                It might be necessary to set <code>pointer-events: auto</code> to the <code>&#60;ion-card&#62;</code>
                element to make tour step interactable.
            </div>
        </app-custom-template>
        <app-styling-active-tour-anchor></app-styling-active-tour-anchor>
    </ng-template>
</tui-doc-page>

<tour-step-template></tour-step-template>
